.wrapper {
  max-width: 1440px;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  &-img {
    &Left,
    &Right {
      display: none;
    }

    padding-right: 8em;
    &-activ {
      max-width: 450px;
    }
    img {
      border-radius: 15px;
      cursor: pointer;
    }
    &-bottom {
      margin-top: 1.5em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      img {
        max-width: 100px;
        cursor: pointer;
        border: 4px solid white;
      }
    }
  }
  &-txt {
    margin-top: 2em;
    max-width: 515px;
    h2 {
      color: var(--orange);
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
    }
    h3 {
      color: var(--dark-blue);
      font-size: 30px;
      margin-top: 0;
      max-width: 300px;
    }
    &-price {
      display: flex;
      align-items: center;
      p {
        color: var(--dark-blue);
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-weight: 700;
        font-size: 20px;
        span {
          color: var(--orange);
          font-weight: 700;
          background-color: var(--pale-orange);
          border-radius: 5px;
          padding: 0 7px;
          font-size: 16px;
          margin-left: 1em;
        }
      }
    }
    &-oldprice {
      font-weight: 700;
      margin-top: 0;
      text-decoration: line-through;
    }
    &-buttons {
      display: flex;
      flex-direction: row;

      &-cart {
        display: flex;
        flex-direction: row;
        background-color: var(--light-grayish);
        width: 130px;
        height: 45px;
        font-weight: 700;
        align-items: center;
        border-radius: 5px;
        justify-content: space-between;
        color: var(--orange);
        margin-right: 1.5em;
        &-minus {
          margin-left: 10px;
          cursor: pointer;
        }
        &-plus {
          margin-right: 10px;
          cursor: pointer;
        }
        &-total {
          color: var(--dark-blue);
        }
      }
      button {
        & img {
          width: 20px;
          margin-right: 10px;
        }
        box-shadow: rgba(248, 125, 26, 0.09) 0px 2px 1px,
          rgba(248, 125, 26, 0.09) 0px 4px 2px,
          rgba(248, 125, 26, 0.09) 0px 8px 4px,
          rgba(248, 125, 26, 0.09) 0px 16px 8px,
          rgba(248, 125, 26, 0.09) 0px 32px 16px;

        cursor: pointer;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
        border: 0;
        border-radius: 10px;
        width: 65%;
        color: var(--white);
      }
    }
  }
}

.active {
  opacity: 0.8;
  border: 4px solid var(--orange) !important;
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    &-img {
      padding-right: 0;
      &-activ {
        max-width: 100%;
      }
      &-bottom {
      }
      img {
      }
    }
    &-txt {
      max-width: 100%;
      margin-bottom: 2em;
    }
  }
}

@media screen and (max-width: 630px) {
  .wrapper {
    margin-top: 0;
    padding: 0;
    &-img {
      position: relative;
      &Left {
        display: block;
        position: absolute;
        cursor: pointer;
        left: 12px;
        top: 50%;

        background-color: white;
        border-radius: 100% !important;
        padding: 14px 18px;
        z-index: 3;
      }
      &Right {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 12px;
        top: 50%;
        background-color: white;
        border-radius: 100% !important;
        padding: 14px 18px;
        z-index: 3;
      }
      &-activ {
        max-width: 100%;
        border-radius: 0px !important;
      }
      &-bottom {
        display: none;
      }
      img {
      }
    }
    &-txt {
      padding: 0 2em;
    }
  }
}
